<%- include('./layout/head') %>
    <%- include('./layout/navbar') %>
        <div style="margin-top: 20px;" class="content-wrapper">

            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">
                                <%= tittle %>
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item">
                                    <a href="/Admin">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/Admin/doctors">List Dokter</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <%= tittle %>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-wrapper">

                <div class="content-header">

                    <div align="center">
                        <div class="container">

                            <div class="card">
                                <div class="card-body">
                                    <form action="/Admin/doctors/Edit/<%= doctorData.id %>" method="POST">
                                        <img src="<%= doctorData.fotoDokter %>" width="250" height="250">
                                        <div class="form-group col-sm-6" align="left">
                                            <label for="nama">Name</label>
                                            <input class="form-control" type="text" id="nama" name="nama"
                                                value="<%= doctorData.name %>">
                                        </div>


                                        <div class="form-group col-sm-6" align="left">
                                            <label for="foto">Foto Dokter</label>
                                            <input class="form-control" type="text" id="foto" name="foto"
                                                value="<%= doctorData.fotoDokter %>">
                                        </div>


                                        <div class="form-group col-sm-6" align="left">
                                            <label for="biaya">Biaya</label>
                                            <input type="number" class="form-control" id="biaya" name="biaya"
                                                value="<%= doctorData.biaya %>">
                                        </div>

                                        <div class="form-group col-sm-6" align="left">
                                            <label for="specialist">Specialist</label>
                                            <select class="form-control" id="specialist" name="specialist">
                                                <option value="">--Select One--</option>
                                                <% specialist.forEach(el=>{%>
                                                    <option value="<%= el.id %>" <%=el.id===doctorData.SpecialistId
                                                        ? 'selected' : '' %> ><%= el.name %>
                                                    </option>
                                                    <%}) %>
                                            </select>
                                        </div>


                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </form>

                                </div>
                            </div>
                        </div>



                    </div>


                </div>
            </div>
        </div>
        <%- include('./layout/footer') %>