<%- include('./layout/head') %>
    <%- include('./layout/navbar') %>
        <div style="margin-top: 20px;" class="content-wrapper">

            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">
                                <%= tittle %>
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item active">
                                    <%= tittle %>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-wrapper">

                <div class="content-header">
                    <div class="container">

                        <% if(message.success) { %>
                            <div align="center">
                                <div class="alert alert-success col-md-6" role="alert" id="alert">
                                    <%= message.success %>
                                </div>
                            </div>
                            <% } %>

                                <div align="center" style="margin-top: 100px;">
                                    <div class="row">
                                        <div class="col-6">
                                            <div align="right">
                                                <a class="btn-lg btn-info" href="/auth">Log In</a>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div align="left">
                                                <a class="btn-lg btn-success" href="/register">Register</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                    </div>
                </div>
            </div>
            <%- include('./layout/footer') %>